﻿@model Sklep.Models.Category

@{
    ViewBag.Title = "GeneratePdf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category: @Html.ValueFor(model => model.Name)</h2>

<hr />

<h3>Price list</h3>

<ul>
    @foreach (var item in ViewBag.Products)
    {
        <li>@item</li>
    }
</ul>

<br />

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group" style="display: none;">
            <label class="col-md-2 control-label">Heading</label>
            <div class="col-md-6">
                <input class="form-control" id="heading" name="heading" type="text" value="@Html.ValueFor(model => model.Name)"/>
            </div>
        </div>
        <div class="form-group" style="display: none;">
            <label class="col-md-2 control-label">Paragraph</label>
            <div class="col-md-10">
                <textarea id="paragraph" name="paragraph" class="form-control" cols="120" rows="10">
                    @foreach (var item in ViewBag.Products)
                    {
                        @item
                        <text></text>
                    }
                </textarea>
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-offset-1 col-md-2">
                <button type="submit" class="btn btn-success" value="Generate">Generate PDF</button>
            </div>
        </div>
    </div>
}