﻿@model Sklep.Models.OrderConfirmationEmail
Content-Type: text/html; charst=utf-8

<html>
<body>
@{ IEnumerable<Sklep.Models.Sale> sales = Model.Sales;
    <p>Thanks for shopping in our shop @Model.To!</p>
    <hr />
    <br />
    <p>Your order's id: @Model.OrderID</p>
    <p>Payment method: @sales.First().Order.PaymentMethod</p>
    <p>Shipment method: @sales.First().Order.ShipmentMethod</p>
    <p>Status: @Model.State</p>
    <p>Date: @sales.First().Order.Date</p>
    <br />
    <p>Yours ordered items:</p>
        <div id="cart-table" class="indexItemBackground col-lg-12 col-md-12 col-sm-12 col-xs-12">

            @for (int i = 0; i < sales.Count(); i++)
            {
                <div class="inlineBlock col-lg-12 col-md-12 col-sm-12 col-xs-12 cartListItem">

                    <div class="mb10 mr35 inlineBlock">
                        <span class="bold">
                            Product: <br />
                            @sales.ElementAt(i).Product.Name
                        </span>
                    </div>

                    <div class="mb10 mr35 inlineBlock">
                        <span class="bold">
                            Price (each): <br />
                            @sales.ElementAt(i).Product.Price PLN
                        </span>
                    </div>

                    <div class="mb10 mr35 inlineBlock">
                        <span class="bold">
                            Quantity: <br />
                            @sales.ElementAt(i).Quantity
                        </span>
                    </div>
                </div>
                <br />
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rowSpace"></div>
            }

            <div class="mb10 mr35 pull-right total">
                <span class="bold">To pay: </span>
                <span class="bold" id="total-value">
                    @{

                        var total = String.Format("{0:N0}", sales.Sum(x => x.Quantity * x.Product.Price));

                    }

                    @total
                </span>
                <span class="bold">PLN</span>
            </div>

        </div>
    }
    <hr />
    <br />

    <p> Thanks and call again!</p>
</body>

</html>