﻿@model IEnumerable<Sklep.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<a href="@Url.Action("Create", "Orders")"><span class="btn btn-primary pull-right"><i class="fa fa-plus"></i> create new</span></a>

<br /><br />

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rowSpace"></div>

@foreach (var item in Model)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexItemBackground">
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Username:</span> @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Date:</span> @Html.DisplayFor(modelItem => item.Date)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Payment method:</span> @Html.DisplayFor(modelItem => item.PaymentMethod)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Shipment method:</span> @Html.DisplayFor(modelItem => item.ShipmentMethod)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">State:</span> @Html.DisplayFor(modelItem => item.State)
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 pull-right">
            <a href="@Url.Action("Delete", "Orders", new { id = item.OrderID })"><span class="btn btn-danger mb5 mr5 pull-right"><i class="fa fa-remove"></i> delete</span></a>
            <a href="@Url.Action("Edit", "Orders", new { id = item.OrderID })"><span class="btn btn-warning mb5 mr5 pull-right"><i class="fa fa-wrench"></i> edit</span></a>
            <a href="@Url.Action("Details", "Orders", new { id = item.OrderID })"><span class="btn btn-info mb5 mr5 pull-right"><i class="fa fa-calendar"></i> details</span></a>
        </div>
    </div>
}