﻿@model IEnumerable<Sklep.Models.Order>

@{
    ViewBag.Title = "My orders";
}

<h2>My orders</h2>

<br />

@foreach (var item in Model)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexItemBackground">
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Date:</span> @Html.DisplayFor(modelItem => item.Date)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Payment method:</span> @Html.DisplayFor(modelItem => item.PaymentMethod)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Shipment method:</span> @Html.DisplayFor(modelItem => item.ShipmentMethod)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">State:</span> @Html.DisplayFor(modelItem => item.State)
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-3 pull-right">
            <span class="btn btn-info mb5 pull-right"><i class="fa fa-calendar"></i> @Html.ActionLink("Details", "OrderDetails", new { id = item.OrderID }, new { @class = "linkDecorationNone" })</span>
        </div>
    </div>
}