﻿@model IEnumerable<Sklep.Models.Sale>

@{
    ViewBag.Title = "Sales";
}

<h2>Sales</h2>

<a href="@Url.Action("Create", "Sales")"><span class="btn btn-primary pull-right"><i class="fa fa-plus"></i> create new</span></a>

<br /><br />

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rowSpace"></div>

@foreach (var item in Model)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexItemBackground">
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Order ID:</span> @Html.DisplayFor(modelItem => item.Order.OrderID)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Product:</span> @Html.DisplayFor(modelItem => item.Product.Name)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Quantity:</span> @Html.DisplayFor(modelItem => item.Quantity)
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 pull-right">
            <a href="@Url.Action("Delete", "Sales", new { id = item.SaleID })"><span class="btn btn-danger mb5 mr5 pull-right"><i class="fa fa-remove"></i> delete</span></a>
            <a href="@Url.Action("Edit", "Sales", new { id = item.SaleID })"><span class="btn btn-warning mb5 mr5 pull-right"><i class="fa fa-wrench"></i> edit</span></a>
            <a href="@Url.Action("Details", "Sales", new { id = item.SaleID })"><span class="btn btn-info mb5 mr5 pull-right"><i class="fa fa-calendar"></i> details</span></a>
        </div>
    </div>
}