﻿@model Sklep.Models.ChangeProductsOnPage

@{
    ViewBag.Title = "ChangeProductsOnPage";
}

<h2>Change products on page</h2>

@using (Html.BeginForm("ChangeProductsOnPage", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Products on page", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ProductsOnPage, new { @class = "form-control", @id = "ProductsOnPage", Value = ViewBag.ProductsOnPage })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}