﻿
@{
    ViewBag.Title = "ChangeAddress";
}

<h2>Change address</h2>

@using (Html.BeginForm("ChangeAddress", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Address", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("Address", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Zip Code", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("ZipCode", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("City", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("City", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Country", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("Country", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}