﻿@model Sklep.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Address:</dt>
        <dd>
            @Model.Address, @Model.ZipCode @Model.City, @Model.Country [@Html.ActionLink("Change", "ChangeAddress")]
        </dd>
        <dt>Phone number:</dt>
        <dd>
            @Model.PhoneNumber [@Html.ActionLink("Change", "ChangePhoneNumber")]
        </dd>
        <dt>Email address:</dt>
        <dd>
            @Model.Email [@Html.ActionLink("Change", "ChangeEmail")]
        </dd>
        <dt>Products on page:</dt>
        <dd>
            @Model.ProductsOnPage [
            @Html.ActionLink("Change", "ChangeProductsOnPage") ]
        </dd>
    </dl>
</div>
