﻿@{
    ViewBag.Title = "ManageCart";
}

<h2>Manage Your Cart</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>



</table>

