﻿@model PagedList.IPagedList<Sklep.Models.Product>
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "All Products";
}

<h2>Products</h2>

<div class="col-md-12 col-sm-12 col-xs-12">
    @using (Html.BeginForm("AllProducts", "Products", FormMethod.Get))
    {
    <div class="form-horizontal">

        <div class="form-group">

                <span>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control col-md-offset-5 col-md-4 col-sm-offset-3 col-sm-6 col-xs-6" })
                    &nbsp;<input class="btn btn-primary btn-md" type="submit" value="Search &raquo;" />
                </span>

        </div>

    </div>

    <hr/>

    <div class="col-md-3 col-sm-12 col-xs-12">

        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Category</label>
                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    @Html.DropDownList("Category", null,  "---", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-12 col-sm-12 col-xs-12">Price</label>
                <div class="col-lg-4 col-md-5 col-sm-2 col-xs-4">
                    @Html.TextBox("PriceFrom", null, htmlAttributes: new { @class = "form-control", placeholder = "from" })
                </div>
                <div class="col-xs-1">
                    -
                </div>
                <div class="col-lg-4 col-md-5 col-sm-2 col-xs-4">
                    @Html.TextBox("PriceTo", null, htmlAttributes: new { @class = "form-control", placeholder = "to" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Producer</label>
                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBox("Producer", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

            <div class="form-group">
                <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Key in description</label>
                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    @Html.TextBox("KeyWord", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input class="btn btn-primary btn-md" type="submit" value="Filter" />
                </div>
            </div>

        </div>

    </div>
    }

    <div class="col-md-9 col-sm-12 col-xs-12">

        @foreach (var item in Model)
        {
            <div class="col-md-12 col-sm-12 col-xs-12 item">
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <img src="@Url.Action( "ShowImage", "Products", new { id = item.ProductID } )" class="image" />
                </div>
                <div class="col-md-10 col-sm-9 col-xs-8">
                    <span class="name ml5">
                        @Html.ActionLink(item.Name, "Details", new { id = item.ProductID }, new { @class = "link" })
                    </span>
                    <br />
                    <span class="price ml5">
                        @Html.DisplayFor(modelItem => item.Price) PLN
                    </span>
                    <br />
   
                        <a href="@Url.Action("OrderNow", "ShoppingCart", new { id = item.ProductID })" class="pull-right"><i class="fa fa-shopping-basket" style="color: red; font-size: 30px;"></i></a>
                    
                </div>
            </div>
        }
        <br /><br />
    </div>
    <br />
</div>

<br />

<div class="pull-right mr25">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("AllProducts",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>