﻿@model Sklep.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <div class="col-lg-10 col-lg-offset-1 productBackground">

        <div class="col-md-2 col-sm-3 col-xs-3">
            <a href="@Url.Action( "ShowImage", "Products", new { id = Model.ProductID } )">
                <img src="@Url.Action( "ShowImage", "Products", new { id = Model.ProductID } )" class="image" />
            </a>
            
        </div>
        <div class="col-md-5 col-sm-6 col-xs-5 text-left">
            <span class="productName">
                @Html.DisplayFor(model => model.Name)
            </span>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-4 text-right">
            <span class="price">
                @Html.DisplayFor(model => model.Price) PLN
            </span>
        </div>
        <div class="col-md-2 col-sm-1 col-xs-5 pull-right">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="@Url.Action("OrderNow", "ShoppingCart", new { id = Model.ProductID })" class="pull-right"><span class="btn btn-success">add to cart</span></a>
                }
            }
            else
            {
                <a href="@Url.Action("OrderNow", "ShoppingCart", new { id = Model.ProductID })" class="pull-right"><span class="btn btn-success">add to cart</span></a>
            }
        </div>

        <div class="col-md-7 col-sm-5 col-xs-3">
            <span class="producerName">
                @Html.DisplayFor(model => model.Producer)
            </span>
        </div>

        <div class="col-md-3 col-sm-9 col-xs-12 pull-right text-right mt10">
            <span class="stockStatus">
                Stock status: @Html.DisplayFor(model => model.StockStatus)
            </span>
        </div>

        <div class="row"></div>

    </div>

    <div class="col-lg-10 col-lg-offset-1 backgroundNone mt10">

        <div class="col-sm-6 text-left">
            <span class="bold bigText">Description</span>
        </div>

        <div class="col-sm-6 text-right">
            <span class="bold">Category:</span> @Html.DisplayFor(model => model.Category.Name)
        </div>

        <br />

        <hr />

        <div class="col-sm-12 mb40">
            @{ 
                if(ViewBag.Description!=null)
                {
                    ViewBag.Description = WebUtility.HtmlDecode(ViewBag.Description);
                }
            }
            @Html.Raw(ViewBag.Description)
        </div>

        <div class="col-sm-12 text-center">
            @{
                if (Model.BigImage != null)
                {
                    <a href="@Url.Action( "ShowBigImage", "Products", new { id = Model.ProductID } )">
                        <img src="@Url.Action( "ShowBigImage", "Products", new { id = Model.ProductID } )" class="imageBig" />
                    </a>
                }
            }
        </div>
                    

    </div>
</div>
<div class="bigRowSpace"></div>

@{
    if (User.IsInRole("admin"))
    {
        <button class="btn btn-default" onclick="copyHTML('@Model.Description')">Copy HTML</button>
    }
}

<script>
    function copyHTML(text) {
        oText = document.createElement("textarea");
        $(oText).addClass('clipboardCopier').val(text).insertAfter('body').focus();
        oText.select();
        document.execCommand('copy');
        $(oText).remove();
    }
</script>
