﻿@model Sklep.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Producer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Producer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Producer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control col-md-2", @row = 5 })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2 bold">Stock status</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.StockStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StockStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2 bold">Image</span>
            <div class="col-md-10">
                <input type="file" name="image" id="image" accept=".png,.jpg,.jpeg,.gif,.tif" />
                <br />
                @{
                    if (Model.Image != null)
                    {
                        string imageBase64 = Convert.ToBase64String(Model.Image);
                        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        <a href="@Url.Action( "ShowImage", "Products", new { id = Model.ProductID } )">
                            <img src="@imageSrc" width="100" height="100" style="float:left;" class="mr25" id="small" />
                        </a>
                        <p style="float:left;">Delete existing image:&nbsp;</p><input type="checkbox" id="deleteImage" name="deleteImage" class="checkbox" value="true" style="float:left; margin-top:1px;" />
                    }
                }
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2 bold">Big Image</span>
            <div class="col-md-10">
                <input type="file" name="bigImage" id="bigImage" accept=".png,.jpg,.jpeg,.gif,.tif" />
                <br />
                @{
                    if (Model.BigImage != null)
                    {
                        string imageBase64 = Convert.ToBase64String(Model.BigImage);
                        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        <a href="@Url.Action( "ShowBigImage", "Products", new { id = Model.ProductID } )">
                            <img src="@imageSrc" width="100" height="100" style="float:left;" class="mr25" id="big" />
                        </a>
                        <p style="float:left;">Delete existing image:&nbsp;</p><input type="checkbox" id="deleteBigImage" name="deleteBigImage" class="checkbox" value="true" style="float:left; margin-top:1px;" />
                    }
                }
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Category</label>
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundle/summernote",
                    "~/Scripts/home-index.js")
}
