﻿@model IEnumerable<Sklep.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<a href="@Url.Action("Create", "Products")"><span class="btn btn-primary pull-right"><i class="fa fa-plus"></i> create new</span></a>

<br /><br />

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rowSpace"></div>

@foreach (var item in Model)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexItemBackground">
        <div class="mb10 mr35 inlineBlock">
            <img src="@Url.Action( "ShowImage", "Products", new { id = item.ProductID } )" class="smallImage" />
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Name:</span> @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Price:</span> @Html.DisplayFor(modelItem => item.Price) PLN
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Producer:</span> @Html.DisplayFor(modelItem => item.Producer)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Stock status:</span> @Html.DisplayFor(modelItem => item.StockStatus)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Category name:</span> @Html.DisplayFor(modelItem => item.Category.Name)
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 pull-right">
            <a href="@Url.Action("Delete", "Products", new { id = item.ProductID })"><span class="btn btn-danger mb5 mr5 pull-right"><i class="fa fa-remove"></i> delete</span></a>
            <a href="@Url.Action("Edit", "Products", new { id = item.ProductID })"><span class="btn btn-warning mb5 mr5 pull-right"><i class="fa fa-wrench"></i> edit</span></a>
            <a href="@Url.Action("Details", "Products", new { id = item.ProductID })"><span class="btn btn-info mb5 mr5 pull-right"><i class="fa fa-calendar"></i> details</span></a>
        </div>
    </div>
}