﻿@model IEnumerable<Sklep.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<hr />

<ul>
    @foreach (var item in Model)
    {
        <li class="categoryList">
            @Html.ActionLink(item.Name, "AllProducts", "Products", new { Category = item.CategoryID }, new { @class = "link" })
            &nbsp;
            @Html.ActionLink("Get price list >>", "GeneratePdf", "PdfGeneration", new { id = item.CategoryID }, new { @class = "btn btn-default btn-sm" })
        </li>
    }
</ul>

