﻿@model Sklep.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Products
        </dt>

        <dd>
            <ul>
                @foreach (var item in ViewBag.Products)
                {
                    <li>@item</li>
                }
            </ul>
        </dd>

    </dl>

</div>
