﻿@model IEnumerable<Sklep.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<a href="@Url.Action("Create", "Categories")"><span class="btn btn-primary pull-right"><i class="fa fa-plus"></i> create new</span></a>

<br /><br />

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rowSpace"></div>

@foreach (var item in Model)
{
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexItemBackground">
    <div class="mb10 mr35 inlineBlock">
        <span class="bold">ID:</span> @Html.DisplayFor(modelItem => item.CategoryID)
    </div>
    <div class="mb10 mr35 inlineBlock">
        <span class="bold">Name:</span> @Html.DisplayFor(modelItem => item.Name)
    </div>
    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 pull-right">
        <span class="btn btn-success mb5 pull-right"><i class="fa fa-file-pdf-o"></i> @Html.ActionLink("PDF", "GeneratePdf", "PdfGeneration", new { id = item.CategoryID }, new { @class = "linkDecorationNone" })</span>
        <a href="@Url.Action("Delete", "Categories", new { id = item.CategoryID })"><span class="btn btn-danger mb5 mr5 pull-right"><i class="fa fa-remove"></i> delete</span></a>
        <a href="@Url.Action("Edit", "Categories", new { id = item.CategoryID })"><span class="btn btn-warning mb5 mr5 pull-right"><i class="fa fa-wrench"></i> edit</span></a>
        <a href="@Url.Action("Details", "Categories", new { id = item.CategoryID })"><span class="btn btn-info mb5 mr5 pull-right"><i class="fa fa-calendar"></i> details</span></a>
    </div>
</div>
}
