﻿.link:link {
    text-decoration: none;
    color: black;
}
.link:visited {
    text-decoration: none;
    color: black;
}
.link:hover {
    text-decoration: none;
    color: #333333;
}
.item {
    border-bottom: 1px solid #bababa;
    padding: 15px;
    height: 130px;
}
.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mr25 {
    margin-right: 25px;
}
.mr35 {
    margin-right: 35px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb40 {
    margin-bottom: 40px;
}
.mt0 {
    margin-top: 0px;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.pl5 {
    padding-left: 5px;
}
.pl10 {
    padding-left: 10px;
}
.pr5 {
    padding-right: 5px;
}
.pr10 {
    padding-right: 10px;
}
.searchBar {
    width: 100%;
}
.smallImage {
    width: 50px;
    height: 50px;
}
.image {
    width: 70px;
    height: 70px;
}
.imageBig {
    width: 250px;
    height: 250px;
}
.price {
    font-size: 22px;
    font-weight: bold;
    color: red;
}
.name {
    font-size: 18px;
}
.productName {
    font-size: 20px;
    font-weight: bold;
}
@media (min-width: 544px) {  
  .name {
      font-size: 20px;
  }
  .price {
      font-size: 24px;
  }
  .smallImage {
    width: 50px;
    height: 50px;
  }
  .image {
    width: 100px;
    height: 100px;
  }
  .imageBig {
    width: 400px;
    height: 400px;
    }
  .productName {
    font-size: 22px;
  }
}
@media (min-width: 768px) {  
  .name {
      font-size: 24px;
  }
  .price {
    font-size: 32px;
  }
  .smallImage {
    width: 50px;
    height: 50px;
  }
  .image {
    width: 100px;
    height: 100px;
  }
  .imageBig {
    width: 600px;
    height: 600px;
    }
  .productName {
    font-size: 26px;
  }
}
.categoryList {
    font-size: 22px;
    margin-bottom: 20px;
}
.producerName {
    font-size: 18px;
}
.stockStatus {
    font-size: 14px;
}
.productBackground {
    background-color: #f5f5f5;
    height: 160px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.backgroundNone {
    background-color: #ffffff;
}
.bold {
    font-weight: bold;
}
.bigText {
    font-size: 18px;
}
.indexItemBackground {
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    display: inline-block;
}
.linkDecorationNone:link {
    text-decoration: none;
    color: white;
}
.linkDecorationNone:visited {
    text-decoration: none;
    color: white;
}
.linkDecorationNone:hover {
    text-decoration: none;
    color: white;
}
.rowSpace {
    height: 5px;
}
.inlineBlock {
    display: inline-block;
}
.menuAdmin {
    background-color: #222222;
    color: white;
}
.total {
    font-size: 28px;
}
.bigRowSpace {
    height: 20px;
}
.cartListItem {
    border-bottom: 3px solid white;
}