﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Shopping</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/custom.css")
    @Styles.Render("~/Scripts/summernote/summernote.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Online Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Products", "AllProducts", "Products")</li>
                    <li>@Html.ActionLink("Categories", "AllCategories", "Categories")</li>
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            if (this.User.IsInRole("admin"))
                            {
                                <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-cog"></i> Admin Panel
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>
                                        @Html.ActionLink("Products", "Index", "Products")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Categories", "Index", "Categories")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Orders", "Index", "Orders")
                                    </li>
                                    <li>
                                        @Html.ActionLink("My orders", "MyOrders", "Orders")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Sales", "Index", "Sales")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Application Users", "Index", "ApplicationUsers")
                                    </li>
                                </ul>
                            }
                            else if (this.User.IsInRole("user"))
                            {
                                @Html.ActionLink("My orders", "MyOrders", "Orders")
                            }
                        }

                    </li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="container body-content">
        <hr />
        <div class="col-lg-12 inlineBlock">
            <span class="mr35">@Html.ActionLink("About", "About", "Home")</span>
            <span class="mr35">@Html.ActionLink("Contact", "Contact", "Home")</span>
        </div>
        <br />
        <hr />
        <footer>
            <p class="col-sm-6 col-xs-8">&copy; @DateTime.Now.Year - Online Shopping</p>
            <p class="col-sm-6 col-xs-4 text-right">Visitors: @ApplicationInstance.Application["Totaluser"]</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/custom.js")
    @Scripts.Render("~/Scripts/summernote/summernote.js")
    @RenderSection("scripts", required: false)
</body>
</html>
