﻿@using Sklep.Models


@{
    ViewBag.Title = "Buy";
}
<h2>Your Cart Summary</h2>
<br />

@{
    if (Session["Cart"] != null && ((List<Sale>)Session["Cart"]).Count != 0)
    {
        <div id="cart-table" class="indexItemBackground col-lg-12 col-md-12 col-sm-12 col-xs-12">

            @foreach (var cart in (List<Sale>)Session["Cart"])
            {
                <div id="row-@cart.Product.ProductID" class="inlineBlock col-lg-12 col-md-12 col-sm-12 col-xs-12 cartListItem">
                    
                    <div class="mb10 mr10 inlineBlock">
                        <img src="@Url.Action("ShowImage", "ShoppingCart", new { id = cart.Product.ProductID } )" class="smallImage" />
                    </div>

                    <div class="mb10 mr35 inlineBlock">
                        <span class="bold">
                            Product: <br />
                            @Html.ActionLink(cart.Product.Name, "Details", "Products", new { id = cart.Product.ProductID }, null)
                        </span>
                    </div>

                    <div class="mb10 mr35 inlineBlock">
                        <span class="bold">
                            Price (each): <br />
                            @cart.Product.Price PLN
                        </span>
                    </div>

                    <div class="mb10 mr35 inlineBlock">
                        <span class="bold">
                            Quantity: <br />
                            <span id="cart-count-@cart.Product.ProductID">
                                @cart.Quantity
                            </span>
                        </span>
                    </div>
                </div>
                <br />
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rowSpace"></div>
            }

            <div class="mb10 mr35 pull-right total">
                <span class="bold">To pay: </span>
                <span class="bold" id="total-value">
                    @{
                        List<Sale> temp = (List<Sale>)Session["Cart"];
                        var total = String.Format("{0:N0}", temp.Sum(x => x.Quantity * x.Product.Price));

                    }

                    @total
                </span>
                <span class="bold">PLN</span>
            </div>

        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bigRowSpace"></div>

        <a id="buy-link" class="pull-right mb10 mr35" href="@Url.Action("Pay", "ShoppingCart")"><span class="btn btn-primary">Accept and pay</span></a>

        <a class="pull-left" href="@Url.Action("Index", "ShoppingCart")"><span class="btn btn-default">Back to cart</span></a>

    }
}

