﻿@model Sklep.Models.UserOrderViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Finish";
}
<h2>Thanks for shopping!</h2>

<br />

<a class="pull-left" href="@Url.Action("AllProducts", "Products")"><span class="btn btn-default">Back to products list</span></a>
  
