﻿@using Sklep.Models;



@{
    ViewBag.Title = "Cart";
}

<h2>Your Cart</h2>
<h4 id="empty-result-message"></h4>
<br />
@{ 
    if (Session["Cart"] != null && ((List<Sale>)Session["Cart"]).Count != 0 )
    {

        <div id="cart-table" class="indexItemBackground col-lg-12 col-md-12 col-sm-12 col-xs-12">

        @foreach (var cart in (List<Sale>)Session["Cart"])
        {
                <div id="row-@cart.Product.ProductID" class="inlineBlock col-lg-12 col-md-12 col-sm-12 col-xs-12 cartListItem">

                    <div class="mb10 mr10 inlineBlock">
                        <img src="@Url.Action("ShowImage", "ShoppingCart", new { id = cart.Product.ProductID } )" class="smallImage" />
                    </div>

                    <div class="mb10 mr35 inlineBlock">
                        <span class="bold">
                            Product: <br />
                            @Html.ActionLink(cart.Product.Name, "Details", "Products", new { id = cart.Product.ProductID }, null)
                        </span>
                    </div>

                    <div class="mb10 mr35 inlineBlock">
                        <span class="bold">
                            Price (each): <br />
                            @cart.Product.Price PLN
                        </span>
                    </div>

                    <div class="mb10 mr35 inlineBlock">
                        <span class="bold">
                            Quantity: <br />
                            <span id="cart-count-@cart.Product.ProductID">
                                @cart.Quantity
                            </span>
                        </span>
                    </div>

                    <div class="mb10 mr35 inlineBlock">
                        <span class="bold">
                            Sub total: <br />
                            <span id="cart-subtotal-@cart.Product.ProductID">
                                @(String.Format("{0:N0}", cart.Product.Price * cart.Quantity))
                            </span> PLN
                        </span>
                    </div>

                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 pull-right">

                        <a class="RemoveOne" id="remove-one"
                           data-id="@cart.Product.ProductID" href="#">
                            <span class="btn btn-warning mb5 mr5 pull-right"><i class="fa fa-minus"></i> remove one</span>
                        </a>

                        <a class="AddOne"
                           data-id="@cart.Product.ProductID" href="#">
                            <span class="btn btn-success mb5 mr5 pull-right"><i class="fa fa-plus"></i> add one</span>
                        </a>

                        <a class="RemoveLink"
                           data-id="@cart.Product.ProductID" href="#">
                            <span class="btn btn-danger mb5 mr5 pull-right"><i class="fa fa-remove"></i> remove all</span>
                        </a>

                    </div>

                </div>
                
                <div id="space" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rowSpace"><br /></div>
        }

                <div class="mb10 mr35 pull-right total">
                    <span class="bold">Total: </span>
                    <span class="bold" id="total-value">
                        @{
                            List<Sale> temp = (List<Sale>)Session["Cart"];
                            var total = String.Format("{0:N0}", temp.Sum(x => x.Quantity * x.Product.Price));

                        }

                        @total
                    </span>
                    <span class="bold" >PLN</span>
                </div>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bigRowSpace"></div>

            <a id="buy-link" class="pull-right mb10 mr35" href="@Url.Action("Buy", "ShoppingCart")"><span class="btn btn-primary">Buy</span></a>

        }

        else
        {
            <h4>Your cart is empty!</h4>
        }
        
        <a class="pull-left" href="@Url.Action("AllProducts", "Products")"><span class="btn btn-default">Back to products list</span></a>
}

@Html.Raw(TempData["msg"])

<script src="~/Scripts/jquery-1.10.2.min.js"
        type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // Remove item
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            
          //  


            // Perform the ajax post
            $.post("/ShoppingCart/Delete", {"id": recordToDelete },
                function (data) {
                    
                        //location.reload();
                    $('#row-' + recordToDelete).fadeTo("slow", 0.1, function () {
                        $(this).remove();
                    });
                    if(data.CartTotal !=0)
                        $('#total-value').text(data.CartTotal);
                    else
                    {
                        $('#cart-table').remove();
                        $('#empty-result-message').text("Your cart is empty!");
                        $('#buy-link').remove();
                        
                    }
                       
                });

        });

        // Add one item
        $(".AddOne").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            

            // Perform the ajax post
            $.post("/ShoppingCart/AddOne", { "id": recordToDelete },
                function (data) {

                    $('#total-value').text(data.CartTotal);
                    $('#cart-count-' + recordToDelete).text(data.ItemCount);
                    $('#cart-subtotal-' + recordToDelete).text(data.ItemPrice * data.ItemCount);

                }
                );

        });

        // Remove one item
        $(".RemoveOne").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            var rowID = '#row-' + recordToDelete;

            // Perform the ajax post
            $.post("/ShoppingCart/RemoveOne", { "id": recordToDelete },
                function (data) {

                    $('#total-value').text(data.CartTotal);
                    $('#cart-count-' + recordToDelete).text(data.ItemCount);
                    $('#cart-subtotal-' + recordToDelete).text(data.ItemPrice*data.ItemCount);
                    
                    if (data.ItemCount == 0) {
                        $.post("/ShoppingCart/Delete", { "id": recordToDelete },
               function (data) {

                   //location.reload();
                   $('#row-' + recordToDelete).fadeTo("slow", 0.1, function () {
                       $(this).remove();
                   });
                   if (data.CartTotal != 0)
                       $('#total-value').text(data.CartTotal);
                   else {
                       $('#cart-table').remove();
                       $('#empty-result-message').text("Your cart is empty!");
                       $('#buy-link').remove();
                   }

               });
                    }

                }
                );

        });

    });

</script>