﻿@model Sklep.Models.UserOrderViewModel
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Pay";
}
<h2>Payment summary</h2>

<hr />

<h3>
    Adress:
</h3>

<dl class="dl-horizontal">
   

    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Surname)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Surname)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Address)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ZipCode)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ZipCode)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.City)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.City)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Country)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Country)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Phone)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Phone)
    </dd>
    
    
    </dl> 

<hr/>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <span class="control-label col-md-2 bold">Payment method</span>
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Order.PaymentMethod, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Order.PaymentMethod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2 bold">Shipment method</span>
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Order.ShipmentMethod, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Order.ShipmentMethod, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
        </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
