﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Our online shop was opened in October 2017. <br />
    Since then we have gathered almost 100 clients. <br />
    We're selling products from different categories - it's a multi-branch shop. <br />
    We hope you'll find there anything you're looking for. <br />
</p>
