﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Online Shopping<br />
    Bratkowa 40<br />
    12-450 Giżycko<br />
    Poland<br />
</address>

<address>
    <strong>Phone: </strong>767 584 342 <br />
    <strong>Email:</strong>   <a href="mailto:c2crental.adm@gmail.com">c2crental.adm@gmail.com</a><br />
</address>