﻿@model List<Sklep.Models.Product>

@{
    ViewBag.Title = "Shop";
}

<div class="jumbotron inlineBlock col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>What are you looking for?</h2>
        <div class="form-inline pull-left">
            <div class="bigRowSpace"></div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input id="keywords" type="text" class="col-md-12 col-sm-12 col-xs-12" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <a id="Search" class="btn btn-primary btn-lg" href="">Search >></a>
                </div>
            </div>
        </div>
</div>

<h1 class="bold" style="margin-left:60px;">Top10 products</h1>
<br />

@foreach (var item in Model)
{
    <div class="col-md-6 col-sm-6 col-xs-12 inlineBlock mt10 mb10">
        <div class="col-md-3 col-sm-4 col-xs-3">
            <img src="@Url.Action( "ShowImage", "Products", new { id = item.ProductID } )" class="image" />
        </div>
        <div class="col-md-9 col-sm-8 col-xs-9">
            <span class="name ml5">
                @Html.ActionLink(item.Name, "Details", "Products", new { id = item.ProductID }, new { @class = "link" })
            </span>
            <br />
            <span class="price ml5">
                @Html.DisplayFor(modelItem => item.Price) PLN
            </span>
            <br />
        </div>
    </div>

}

<div class="row">
    
</div>