﻿@model IEnumerable<Sklep.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<a href="@Url.Action("Create", "ApplicationUsers")"><span class="btn btn-primary pull-right"><i class="fa fa-plus"></i> create new</span></a>

<br /><br />

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rowSpace"></div>

@foreach (var item in Model)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexItemBackground">
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Username:</span> @Html.DisplayFor(modelItem => item.UserName)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Name:</span> @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Surname:</span> @Html.DisplayFor(modelItem => item.Surname)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">City:</span> @Html.DisplayFor(modelItem => item.City)
        </div>
        <div class="mb10 mr35 inlineBlock">
            <span class="bold">Country:</span> @Html.DisplayFor(modelItem => item.Country)
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 pull-right">
            <a href="@Url.Action("Delete", "ApplicationUsers", new { id = item.Id })"><span class="btn btn-danger mb5 mr5 pull-right"><i class="fa fa-remove"></i> delete</span></a>
            <a href="@Url.Action("Details", "ApplicationUsers", new { id = item.Id })"><span class="btn btn-info mb5 mr5 pull-right"><i class="fa fa-calendar"></i> details</span></a>
        </div>
    </div>
}